* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  background-color: whitesmoke;
  font-size: 16px;
}

/*Menu*/

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33383b;
}

.nav .li {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  border-right: 1px solid #bbb;
}

/*Header*/

.header {
  padding: 0;
}
.header h1 {
  font-size: 7rem;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  background-image: url("images/corn.jpg");
  background-size: auto;
  background-repeat: repeat;
  height: 426px;
}

.header h1 span {
  color: #e0ac1c;
}

/*Content*/

h2 {
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
  background-color: gray;
  padding-left: 1rem;
}

.content_img {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin: 0 30px 0 0;
}
.content_paragraph {
  display: inline-block;
  width: 46%;
  padding: 4rem 0 0 0;
  line-height: 1.7rem;
  }


/* The footer is fixed to the bottom of the page */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px Helvetica;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px Helvetica, cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  line-height: 38px;
}

.footer-distributed .footer-center p span {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
}

.footer-distributed .footer-center .phone {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-find-us p {
  display: block;
  color: #ffffff;
  margin: 0;
  line-height: 38px;
}

.footer-distributed .footer-find-us {
  display: block;
  color: #0a0a0a;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  
  .content_paragraph {
    padding: 1rem 1rem 1rem 2rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    width: 80%;

  }
}
